<table class="table table-striped">
  <thead>
    <tr>
        <th>Direction</th>
        <th>Identity</th>
        <th>DateTime</th>
        <th>Message</th>
        <th>Attended</th>
        <th>Assigned Driver</th>
    </tr>
  </thead>
    <tbody>
      {{#each filteredAccount as |n|}}
            <tr>
            <td>{{n.typ}}</td>
            <td>{{n.name}}</td>
            <td>{{n.date}}</td>
            <td>{{n.msg}}</td>
            <td>{{n.isDone}}</td>
            <td>{{n.driverphone}}</td>
            
            </tr>
      {{/each}}
    </tbody>
</table>
<p>
<form class="form" role="form" {{action "replyMessage" on="submit"}}>
  <div class="form-group">
        <label for="Reply Message">Reply Message</label>
        {{textarea class="form-control" rows="5" id="replyMsg" value=replyContent}}
  </div>
  <div class="form-group">
        <label for="Drivers Phone">Driver's Phone Number</label>
        {{input type="text" class="form-control" id="drivPhone" value=driverPhone}}
  </div>
    <button class="btn btn-default" type="submit">Submit</button>
</form>
</p>

<p>
<button type="button" class="btn btn-primary" {{action "markCompleted"}}>Mark As Attended</button>
</p>

<p>
<form class="form-inline" style="border:1px solid lightgray" role="form" {{action "markTaken" on="submit"}}>
  <div class="form-group">
        <label for="Attendant">Name of Attendant:</label>
        {{input type="text" class="form-control" id="nameOfAttendant" value=nameofattendant}}
  </div>
  <button type="submit" class="btn btn-success">Attend To</button>
</form>
</p>

<p>
<form class="form-inline" style="border:1px solid red" role="form" {{action "billCustomer" on="submit"}}>
  <div class="form-group">
        <label for="Bill Customer">Bill Customer Phone:</label>
        {{input type="text" class="form-control" id="billCus" value=billPhoneNumber}}
  </div>
  <div class="form-group">
        <label for="Bill Customer">Bill Customer Amount:</label>
        {{input type="text" class="form-control" id="billAmt" value=billAmount}}
  </div>
  <div class="form-group">
        <label for="DriverId">Driver's Phone :</label>
        {{input type="text" class="form-control" id="drivePhone" value=driverphone}}
  </div>
  <div class="form-group">
        <label for="Location">Pick-up Location-> ZipCode:</label>
        {{input type="text" class="form-control" id="locZip" value=zipcode}}
  </div>
  <div class="form-group">
        <label for="Attendant">Attendant Name & Comments:</label>
        {{input type="text" class="form-control" id="Attendantname" value=attendantname}}
  </div>
  <button type="submit" class="btn btn-default">Bill Customer</button>
</form>
</p>
